{{#each data}}
    <li>
        <div class="mediaitem">
            <div class="info_cont">
                <div class="mediatitle">
                    {{name}}
                </div>
                <div class="mediainfo">
                {{#if isMovie}}{{year}} {{runtime}}m {{genre}}{{/if}}
                {{#if isShow}}{{year}} {{runtime}}m {{genre}}{{/if}}
                </div>
            </div>
            <div class="functions">
                {{#if playable}}
                    <img src="resources/play.png" onclick="play_media('{{path}}')"></img>
                {{#else}}
                    <img src="resources/noplay.png" style="cursor: default;"></img>
                {{/if}}
                <a  href="{{path}}" download><img src="resources/download.png"></img></a>
                <img src="resources/settings.png" onclick="$('#media{{id}}').css('display', 'inline-block')"></img>
            </div>
        </div>
        
        <div id="media{{id}}" class="mediaedit" style="height: 310;">
            Name: <input id="media{{id}}name" type="text" value="{{name}}"></input><br>
            {{#if is_show}}
                Season: <input id="media{{id}}season" type="text" value="{{season}}"></input><br>
                Episode: <input id="media{{id}}episode" type="text" value="{{episode}}"></input><br>
                <input type="button" onclick="submit_edit('Shows','{{id}}'); $('#media{{id}}').css('display', 'none');" value="Submit"></input>
            {{/if}}
            {{#if is_movie}}
                Genre: <input id="media{{id}}genre" type="text" value="{{genre}}"></input><br>
                Runtime: <input id="media{{id}}runtime" type="text" value="{{runtime}}"></input><br>
                Year: <input id="media{{id}}year" type="text" value="{{year}}"></input><br>
                <input type="button" onclick="submit_edit('Movies','{{id}}'); $('#media{{id}}').css('display', 'none');" value="Submit"></input>
            {{/if}}
            <input type="button" onclick="$('#media{{id}}').css('display', 'none');" value="Cancel"></input>
        </div>
    
    </li>
{{/each}}
